.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.swiper-paper-root {
  max-height: 100svh;
  display: flex;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  transition-duration: 300ms;
  transition-delay: 10ms;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-prev-btn {
  position: absolute;
  right: auto;
  left: 16px;
  top: 50%;
  /*transform: translateY(-50%);*/
  cursor: pointer;
  z-index: 2;
}

.swiper-next-btn {
  position: absolute;
  right: 16px;
  left: auto;
  top: 50%;
  /*transform: translateY(-50%);*/
  cursor: pointer;
  z-index: 2;
}

.arrow {
  border: solid #037aff;
  border-width: 0 3px 3px 0;
  border-bottom-right-radius: 4px;
  display: inline-block;
  padding: 3px;
  width: 25px;
  height: 25px;
  user-select: none;
}

.arrow-disable {
  opacity: 0.35;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}


